.editor-style p,
.editor-style u,
.editor-style i,
.editor-style strike,
.editor-style li,
.editor-style b,
.editor-style blockquote,
.editor-style pre,
.editor-style code,
.editor-style span {
  font-size: 14px;
}
.editor-style pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.editor-style h1 {
  font-size: 36px;
}
.editor-style h2 {
  font-size: 30px;
}
.editor-style h3 {
  font-size: 24px;
}
.editor-style h4 {
  font-size: 18px;
}
.editor-style h5 {
  font-size: 14px;
}
.editor-style h6 {
  font-size: 12px;
}
.editor-style h1,
.editor-style h2,
.editor-style h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.editor-style h4,
.editor-style h5,
.editor-style h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.editor-style h1,
.editor-style h2,
.editor-style h3,
.editor-style h4,
.editor-style h5,
.editor-style h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.ans-cont-titl > .editor-style p,
.ans-cont-titl > .editor-style u,
.ans-cont-titl > .editor-style i,
.ans-cont-titl > .editor-style strike,
.ans-cont-titl > .editor-style li,
.ans-cont-titl > .editor-style b,
.ans-cont-titl > .editor-style blockquote,
.ans-cont-titl > .editor-style pre,
.ans-cont-titl > .editor-style code,
.ans-cont-titl > .editor-style span {
  font-size: 12px;
}
.ans-cont-titl > .editor-style ul {
  list-style: disc;
}
.ans-cont-titl > .editor-style ol {
  list-style: decimal;
}
.ans-cont-titl > .editor-style pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.ans-cont-titl > .editor-style h1 {
  font-size: 36px;
}
.ans-cont-titl > .editor-style h2 {
  font-size: 30px;
}
.ans-cont-titl > .editor-style h3 {
  font-size: 24px;
}
.ans-cont-titl > .editor-style h4 {
  font-size: 18px;
}
.ans-cont-titl > .editor-style h5 {
  font-size: 14px;
}
.ans-cont-titl > .editor-style h6 {
  font-size: 12px;
}
.ans-cont-titl > .editor-style h1,
.ans-cont-titl > .editor-style h2,
.ans-cont-titl > .editor-style h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.ans-cont-titl > .editor-style h4,
.ans-cont-titl > .editor-style h5,
.ans-cont-titl > .editor-style h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ans-cont-titl > .editor-style h1,
.ans-cont-titl > .editor-style h2,
.ans-cont-titl > .editor-style h3,
.ans-cont-titl > .editor-style h4,
.ans-cont-titl > .editor-style h5,
.ans-cont-titl > .editor-style h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
